body{
background-color:#655ec4 ;
}
.box{
    width: 500px; 
    margin: auto;
    background-color: white;
    margin-top:100px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.box h1{
    text-align: center ;
    font-family: Bahnschrift SemiBold;
    font-weight: 400px;
    font-size:40px;
    
}
.box p{
    text-align: center;
    margin-top: -15px;
    font-size: 20px;
}
.box .xxx{
    width: 35%;

}

.from-control{
    background-color: rgb(199, 212, 211);
    margin: 10px;
    padding: 10px;
    border: rgb(184, 174, 184) 2px solid;
    width: 80%;
}
.checkbox{
    margin-top: 10px;
}

.btn{
    width:40% ;
    margin: 0 auto;
    background-color: rgb(0, 240, 40);
    display: block;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    border:none;
    border-radius: 5px;
}